.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 700px;
  background-color: grey;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin: auto;
  font-family: "Bigelow Rules", cursive;
  font-weight: 400;
  font-size: 80px;
  background: radial-gradient(
    circle,
    rgb(255, 240, 213) 0%,
    rgb(218, 192, 157) 31%,
    rgba(0, 0, 0, 1) 88%,
    rgba(0, 0, 0, 1) 100%
  );
}
.container_images {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
  min-height: 100px;
  align-items: flex-end;
}
.image_bat {
  animation: image_bat 2s infinite;
  animation-direction: reverse;
}
@keyframes image_bat {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(20deg);
  }
  30% {
    tranform: rotate(30deg);
  }
  40% {
    transform: rotate(40%);
  }
  50% {
    transform: rotate(50%);
  }
}

button {
  font-family: "Bigelow Rules", cursive;
  font-weight: 400;
  font-size: 32px;
  width: 100px;
  height: 40px;
  box-shadow: 0px 0px 5px #fff;
  border-radius: 5px;
  border: none;
  z-index: 1;
}
button:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.3);
  background-color: rgb(184, 21, 21);
  color: #fff;
  border: none;
  z-index: 1;
}
f3 {
  text-shadow: 0px 5px 15px #fff;
}
.image_pumkin {
  animation: image_pumkin 2.5s ease-in-out infinite;
}
@keyframes image_pumkin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.3);
  }
}
